@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Merriweather:wght@400;700;900&display=swap");

/* font-family: 'Inter',sans-serif;
font-family: 'Merriweather',serif; */

* {
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 1320px;
  margin: 0px auto;
}

/* ======================= */
/* New year party section */
/* ======================= */

.new-year-party-section {
  margin-top: 50px;
  text-align: center;
  border-radius: 16px;
  padding: 200px 150px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../img/Banner-Image.png");
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.new-year-party-section h1 {
  font-family: "Merriweather", serif;
  color: #fff;
  font-weight: 400;
  font-size: 32px;
}

.new-year-party-section h2 {
  font-family: "Merriweather", serif;
  color: #fff;
  font-size: 72px;
  font-weight: 900;
}

/* ======================= */
/* Holiday deals section */
/* ======================= */

.holiday-deals-section {
  padding: 100px;
  margin-top: 100px;
  text-align: center;
  font-family: Inter;
  color: #f00;
}

.holiday-deals-section h2 {
  font-size: 88px;
  font-weight: 700;
}
.holiday-deals-section h3 {
  margin-top: 48px;
  font-size: 24px;
  font-weight: 500;
}
.holiday-deals-section h4 {
  margin-top: 16px;
  margin-bottom: 48px;
  font-size: 48px;
  color: #070211;
  font-weight: 700;
}

/* ======================= */
/* Welcome party section */
/* ======================= */

.welcome-party-section {
  margin-top: 50px;
  border-radius: 16px;
  padding: 65px 120px;
  background: linear-gradient(108deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../img/Vectorrr.png);
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-party-text h2 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
}

.welcome-party-text p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.welcome-party-text a {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 34px;
  display: inline-block;
  margin-left: 40px;
}
/* ======================= */
/* Join now party*/
/* ======================= */
.join-now-party {
  margin-top: 150px;
  text-align: center;
  border-radius: 16px;
  padding: 150px 150px;
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  margin-bottom: 50px;
}

.jnp-color {
  color: red;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
}

.join-now-party h2,
.join-now-party h3,
.join-now-party h4 {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

.join-btn {
  padding: 16px 32px;
  border-radius: 8px;
  background: #f00;
  border: none;
  margin-top: 30px;
  color: white;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

/* ======================= */
/* Coming soon section*/
/* ======================= */

.coming-soon-section {
  padding: 50px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.coming-soon-offer h2 {
  color: #f00;
  text-align: left;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.coming-soon-offer h3 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.coming-soon-offer p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.coming-soon-big-image {
  border: 20px solid red;
  padding: 29px;
  border-radius: 50%;
}

.coming-soon-year h2 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  margin-top: 150px;
  font-weight: 700;
}

.coming-soon-year p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.coming-soon-year img {
  margin-top: 15px;
}

/* ======================= */
/* Holiday seals section*/
/* ======================= */
section.Holiday-seals {
  padding: 100px 0px;
}
.Holiday-seals-text {
  text-align: center;
  padding: 50px 0px;
}
.Holiday-seals-text h2 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.Holiday-seals-text h3 {
  color: #f00;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin: 25px;
}
.Holiday-seals-text p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px; /* 160% */
}

.holidays-images {
  display: flex;
  justify-content: space-between;
}

.holidays-images-two {
  position: relative;
}
.holidays-images4 {
  margin-top: -4px;
}

.holidays-images3 img {
  display: flex;
  position: absolute;
  top: -138%;
  left: 8%;
  width: 630px;
}

.holidays-images1 {
  position: relative;
}
.holidays-images1 img {
  position: absolute;
  top: 30px;
  left: 730px;
}
/* ======================= */
/* Portfolio-section*/
/* ======================= */

.party-portfolio-section {
  padding: 150px 0px;
}
.party-portfolio-section h2 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.party-portfolio-section h3 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 10px;
  margin-top: 15px;
}
.party-portfolio-section p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.portfolio-images {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin-top: 48px;
}

.portfolio-images img:hover{
  box-shadow: 2px 3px 12px rgb(161, 161, 161);
  border-radius: 17px;
}
/* ======================= */
/* Newsletter Section*/
/* ======================= */

.party-newsletter {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  text-align: center;
  padding: 150px 0px;
  margin-bottom: 80px;
}

.party-newsletter h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin: 25px 0px;
}
.party-newsletter p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.form-section {
  margin-top: 50px;
}
.form-section [type="email"] {
  padding: 19px 20px;
  width: 20%;
  border: none;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
  color: rgba(7, 2, 17, 0.3);
  font-family: Inter;
  font-size: 18px;
  outline: none;
  font-weight: 400;
  margin-right: -4px;
}

.form-section [type="submit"] {
  padding: 17px 20px;
  background: #f00;
  outline: none;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
}

/* ======================= */
/* Footer Section*/
/* ======================= */

footer {
  padding: 150px;
  background-color: #070211;
}

.fotter-info-one {
  padding: 100px 0px;
  color: white;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
}
.fotter-info-one p {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}
.fotter-info-one ul {
  list-style: none;
  gap: 6px;
}
.fotter-info-one li {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}

.fotter-info-one li img {
  width: 30px;
  height: 30px;
}

.footer-section-icon {
  text-align: center;
  padding: 50px;
  display: flex;
  justify-content: center;
  gap: 35px;
  border-bottom: 1px solid white;
}

.fotter-info-three {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  padding: 50px 0px;
}
